.question-tool ul {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 10px;
  margin-top: 20px;
}

.question-tool form {
  margin-top: 20px;
}

.question-tool form div {
  margin: 8px;
}

.button-style
{
  margin: 10px;
}


.question-tool form label {
  display: inline-block;
  width: 350px;

}
ul li{
  margin:15px;
}
ul li button
{
  margin-left: 10px;
}

.question-tool-table{
border: solid;
margin: 30px;
}


.question-tool form input {
  width: 350px;
  border: 1px solid slategray;
  border-radius: 5px;
  padding: 4px;
  outline: none;
}
